@use '../../config/variables'  as *;


.gridArtistContainer {
  width:100%;
  display: grid;
  grid-gap:2rem;
  grid-template-columns: 1fr;
  margin-bottom:2rem;

  
  @include for-tablet-landscape-down { 
    display:flex;
    flex-direction: column;
    gap:2rem;
    margin-bottom:2rem;

  }
}


