@import "../../config/variables";


.image {
	overflow: hidden;	
  flex:40%;
  @include for-tablet-landscape-up {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  }
  
}

.image > div {
  height:100%;
}


.text {
  /*positionnement du conteneur text*/
  flex:60%;
  padding:3rem;
  /*alignement des éléments dans le conteneur flex text*/
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  &  h2 {color:$brand-primary;}
   @include for-tablet-landscape-down {
    padding:1rem;
   }
}

.tags {
    color: $brand-cta;
    font-weight: 700;
}


.item {
 
  width:100%;
  position: relative;
  > div {
        border-radius: .5em;
    //position: absolute !important;
   width:100%;
  }
  > div img {
    transition: all 0.3s ease 0s !important;
    cursor:pointer;
  }
  > span {
    z-index: 1;
    color:  $brand-cta;
    position: absolute;
    left: 0;
    right: 0;
    text-align: right;
    font-weight: 700;
    font-size: 24px;
    padding: 1rem;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 2px 3px #00000020, 0px 2px 5px #000000;
    @include for-tablet-landscape-down {
      font-size:22px;
      padding: 1rem;
    }
  }
  &:hover {
    &:after {display:none;}
    > div {
      //opacity:1;
        transition: all 0.3s ease 0s !important;
    }
    > div img {
      transform: scale(1.1);
    }

  }
}

.socials {
  display:flex;
  gap:1rem;
}



.content {
  padding:4rem;
  @include for-phone-only { 
		padding:2em;
	}

}