@import "../../config/variables";

.gridContainer {  	
    padding-top: 0.5rem;
    width:100%;
  margin-top:3rem;
  z-index:1000;
}

.content {
  display:flex;
    background: linear-gradient(to right, #291d1d, rgb(46, 46, 46));
  @include for-tablet-landscape-down {
      flex-direction:column;
    /*  background-color:inherit;*/
    }
}

.image {
	overflow: hidden;	
  flex:40%;
  @include for-tablet-landscape-up {
   clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  }
  
}

.image > div {
  height:100%;
}


.text {
  /*positionnement du conteneur text*/
  flex:60%;
  padding:3rem;
  /*alignement des éléments dans le conteneur flex text*/
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
   @include for-tablet-landscape-down {
    padding:1rem;
   }
}

/*on alterne droite gauche pour l'image*/
.reverse {
  flex-direction:row-reverse;
   @include for-tablet-landscape-up {
    .image { clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);}
  }
  
 @include for-tablet-landscape-down {
      flex-direction:column;
      /*background-color:inherit;*/
    }

    
}
