@import "../../config/variables";

.gridContainer {
  	display:grid;
    height:calc(100vh);
    /*grid-template-rows: minmax(80px, 100px) repeat(4, minmax(20px, auto)) minmax(80px, 100px);
    grid-template-columns: minmax(10px, 80px) repeat(2, minmax(80px, auto)) minmax(10px, 80px) ;*/
     grid-template-columns: 2rem 2fr 1fr 2rem;
		  grid-template-rows: 150px 1fr minmax(70px, 80px);
    /*background-color:black;*/
   


    @include for-tablet-landscape-down {
		 height:auto;
		  grid-template-columns: 2rem 1fr 1fr 2rem;
		  grid-template-rows: 150px 1fr 80px;
	}
}

.flyer {
	display:none;
	grid-column: 3 / 5;
	grid-row: 2 / 4;
	z-index:2;
	/*max-width:400px;*/ width:70%;
	transform:rotate(5deg);
	div {
		    box-shadow: 0 5px 95px 1px #000000ad;  
	}
	
	@include for-tablet-landscape-down {
		display:none;
	}
}

.image {
	transition:all 1s ease;
	grid-column: 1 / 5;
	grid-row: 1 / 4;
	overflow: hidden;
	z-index: 0;
    

}

.image > div  {height:100%;}

.bgDots {
   background: url(../../images/pattern-white.svg) repeat;
   /* height: 100%;*/
    opacity: 0.2;
   
    z-index: 0;
    grid-column: 1 / 5;
	grid-row: 1 / 4;
}

.bgGradient {
	background: linear-gradient(to right, rgba(5, 8, 101, 0.8), rgba(0, 24, 49, 0));
	grid-column: 1 / 5;
	grid-row: 1 / 4;
	  z-index: 0;
}

.scrollDown {
	    display: flex;
	justify-content: flex-end;
	grid-column: 3/4;
	grid-row: 3/4;
	z-index:1;  
	@include for-tablet-landscape-down {
		display:none;
	}
}

.contentWrapper {
	max-width:800px;
	grid-column: 2 / 3;
	grid-row: 2;
	z-index:1;  
	display:flex;
	align-items: flex-end;
	align-content: flex-end;
	flex-wrap: wrap;
	padding-right: 2rem;
	@include for-tablet-landscape-down {
		grid-column: 2 / 4;
	}
	.subTitle {
	    text-transform:uppercase;
	  	font-weight:900;
	  	h2{
	  	color:$brand-cta;
	  	    margin-bottom: 0;
	  }
	  	 @include for-tablet-landscape-down {
			 font-size: 1.8rem;
			 padding-right: 0;
		}
	  
	}


	.description {	
		display: flex;
  		align-items: flex-end;
  		justify-content: flex-end;

	  p {  	
	  	padding-top:1rem;
	  	font-weight:300;
	  	font-size: 16px;
	  	color:white;
	  	 @include for-tablet-landscape-down {
			 font-size: 14px;
		}
	  }
	}

	.hero {
		
		h1 {
			color: white;
		    font-family:'Montserrat',sans-serif;
		    letter-spacing:1px;
		    font-size: 3.6rem;
		    font-weight:900;
		    line-height: 4.165rem;
		    @include for-tablet-landscape-down {
			 font-size: 2.6rem;
			  line-height: 2.5rem;
			}		    
		}
	}
}