@import "../../config/variables";

.container {
  margin: 0 auto;
  max-width: $container;
 
  padding-left: $distance;
  padding-right: $distance;
}

.fluid {max-width:100rem;}

.first {
   padding-top:110px;
}

.text {
  max-width: $container-text;
  color:#d9dad8;
}

.footer {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color:$brand-primary;
  display:flex;
    span:first-child {
      margin-right: auto;
    }
  font-size:12px;
}



.sponsor {
  margin-top:4rem;
/*  margin-left:2rem;*/
width:100%;
max-width:100%;
   background-color:#2e2e2e;
   font-size:15px;

    padding:2rem;
 
}


.grandBureau {
 margin-top: 4rem;
 background-color:$brand-cta;
 padding:2rem;
 padding-bottom:1rem;
 color:#2e2e2e;
 font-size:15px;
 display:flex;
 flex-direction: column;
 justify-content: center; /*alignement vertical centré*/
}