@import "../config/variables";

/* Global styles - peut aussi se faire depuis typography.js (overrideStyles)*/


body {
  background-color:$brand-primary;
  color:$brand-third;
}



:focus {
    outline: 1px solid #ffffff29;
}

.page {
  color:#d9dad8;
  position: relative;
  width: 100%;
  min-height:100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
    position: absolute;
    width: 100%;
}

main {
  flex:1;
  position: relative;
}


a {
  position: relative;
  color:inherit;
  &:hover{
    text-decoration:none;
  }
}
a:after {  
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    bottom: 1px;
    background-color:$brand-cta;
    width: 100%;
    height: 8px;
    z-index: -1;
    opacity: 0;
}
a:hover:after {
    opacity: .8;
    transition: all 0.5s ease;
  
}


footer {
  background-color:white;
 
}

